body {
  background-color: rgb(34, 34, 34);
}

div {
  background-color: rgb(18, 18, 18);
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100%;
}

span {
  color: rgb(196, 196, 196);
}

.grass {
  background-color: rgb(116, 255, 183);
}

.poison {
  background-color: rgb(199, 139, 255);
}

#types {
  display: flex;
  gap: 20px;
}
